.hero {
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include pseudo-ratio(115/320);
  @media (--sm) {
    @include pseudo-ratio(162/600);
  }
  @media (--m) {
    @include pseudo-ratio(162/600);
  }
  @media (--ml) {
    @include pseudo-ratio(300/980);
  }
  &:before {
    display: table-cell;
    width: 0;
  }
}

.hero__background {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;

  .hero__background-image {
    @extend .absolute-full;

    &:after {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
    }
  }
}

.hero__container {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;

  @media (--sm) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hero__wrapper {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.hero__content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 0;

  @media (--s) {
    padding: 20px 32px;
  }

  @media (--sm) {
    padding: 20px 5px;
  }

  @media (--m) {
    padding: 30px 20px;
  }

  @media (--ml) {
    padding: 50px 28px;
  }

  @media (--l) {
    padding: 60px 108px;
  }

  @media (--xl) {
    padding: 60px 60px 60px 104px;
  }
}

.hero__title,
.hero__subtitle {
  color: var(--c-white);
}

.hero__subtitle {
  display: none;
  @media (--m) {
    display: block;
  }
}

.hero__canvas-wrapper {
  @extend .absolute-full;
  overflow: hidden;
}

.hero__canvas-image {
  position: absolute;
  top: -33%;
  left: 33.5%;
  height: 400px;
  width: 400px;
  transform: rotate(-71deg);
  background-repeat: no-repeat;
  background-size: contain;
  @media (--m) {
    left: 29.5%;
    height: 1010px;
    width: 1010px;
  }
}

.hero__canvas {
  display: none;
  position: absolute;
  top: -33%;
  left: 29.5%;
  height: 1010px;
  width: 1010px;
  transform: rotate(-71deg);
  @media (--m) {
    display: block;
  }
}

.hero-after__wrapper {
  padding-top: 20px;
  @media (--sm) {
    padding-top: 37px;
  }
  @media (--m) {
    padding-top: 47px;
  }
  @media (--ml) {
    padding-top: 60px;
  }
  @media (--l) {
    padding-top: 80px;
  }
  & + main .content.section-gutter:first-child,
  .page-template-page-jip-flexible & {
    padding-top: 0;
  }
}

.hero-carousel,
.hero-grid,
.hero-icons {
  padding-top: 0;
}

.hero--small {
  &:before {
    padding-bottom: 20%;
  }
}

.hero-carousel--timeline {
  padding-top: 25px;

  @media (--sm) {
    padding-top: 40px;
  }

  @media (--m) {
    padding-top: 100px;
  }
}

.hero--curriculum {
  .hero__content {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__container {
    @media (--s) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (--ml) {
      padding-left: 55px;
      padding-right: 55px;
    }
    @media (--l) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (--xl) {
      padding-left: 142px;
      padding-right: 142px;
    }
  }
}

.hero--build-at-cornell {
  @include pseudo-ratio(140/320);

  @media (--m) {
    @include pseudo-ratio(250/740);
  }

  @media (--xl) {
    @include pseudo-ratio(430/1440);
  }

  &::before {
    display: table-cell;
  }

  .hero__background::before {
    content: none;
  }

  .hero__container {
    vertical-align: middle;
  }

  .hero__content {
    padding: 0;
  }

  .hero__title {
    padding: 0;
    color: var(--c-black);
  }

  .hero__description {
    display: none;

    @media (--ml) {
      display: block;
      max-width: 760px;
      margin-top: 15px;
    }
  }
}

.hero--events {
  display: flex;
  align-items: flex-end;

  &:before {
    padding-bottom: calc(100% * (157/320));

    @media (--m) {
      padding-bottom: calc(100% * (250/740));
    }

    @media (--xl) {
      padding-bottom: calc(100% * (430/1440));
    }
  }

  .hero__container {
    width: 100%;
  }

  .hero__content {
    padding-left: 0;
    padding-right: 0;

    @media (--m) {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    @media (--xl) {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 0;
    }
  }
}
