.gfield_half {
  width: 100%;
  @media (--m) {
    width: 50%;
  }
}

.gform_wrapper,
.gravity-form {
  &.gravity-form--grid {
    .gform_fields {
      @extend .grid;
    }
  }
  .gform_heading {
    margin-bottom: 5px;
    @media (--l) {
      margin-bottom: 25px;
    }
  }
  .gform_title {
    @extend .main-heading;
  }
  .gfield {
    margin-bottom: 20px;
    .gfield_label {
      @extend .p;
      display: inline-block;
      margin-bottom: 4px;
      &:empty {
        display: none;
      }
    }
    input[type='text'],
    select {
      @extend .p-small;
      width: 100%;
      padding: 12px 15px 11px;
      background: transparent;
      color: var(--c-black);
      border: 1px solid var(--c-white);
      &::placeholder {
        color: var(--c-dark-gray);
      }
    }
    .ginput_container_select {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: calc(50% + 1px);
        right: 15px;
        transform: translateY(-50%);
        border-top: 8px solid #000;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 15px;
        transform: translateY(-50%);
        border-top: 8px solid var(--c-white);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        z-index: 2;
      }
    }
  }
  .gravity-form__button {
    @type 13px 18px;
    width: 100%;
    padding: 12px 10px;
    background-color: var(--c-blue2);
  }
}

.gravity-form--newsletter {
  .gform_wrapper .gfield input[type=text] {
    color: var(--c-border);
    border-color: var(--c-white);

    &::placeholder {
      color: var(--c-border);
    }
  }
}

.newsletter__input-group .gform_wrapper {
  .gfield_description,
  .gfield_label {
    @extend .footer-menu-link;
    margin-bottom: 8px;
    @media (--m) {
      margin-bottom: 0;
    }
    @media (--ml) {
      margin-bottom: 10px;
    }
  }
  .validation_message {
    @media (--sm) {
      position: absolute;
      bottom: -27px;
      left: 0;
      margin-bottom: 0;
    }
    @media (--m) {
      bottom: 0;
    }
    @media (--ml) {
      bottom: -27px;
    }
    @media (--l) {
      bottom: -32px;
    }
  }
  .gfield {
    position: relative;
    margin-bottom: 8px;
    @media (--sm) {
      margin-bottom: 0;
    }
    @media (--m) {
      display: flex;
      justify-content: space-between;
    }
    @media (--ml) {
      display: block;
    }
    input[type='text'] {
      @media (--ml) {
        padding: 10px 15px;
      }
    }
    .gfield_label {
      color: var(--c-white);
    }
  }
  .gform_body {
    @media (--sm) {
      flex: 1 1 auto;
    }
  }
  .gform_footer {
    @media (--sm) {
      width: 170px;
      margin-left: 20px;
    }
    @media (--m) {
      width: 120px;
      margin-left: 8px;
    }
    @media (--ml) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 38%;
    }
  }
  .ginput_container_email {
    @media (--m) {
      width: 184px;
    }
    @media (--ml) {
      width: 58%;
    }
  }
}

.gravity-form--learn-more .gform_wrapper {
  .gform_fields {
    @extend .grid;
  }
  .gfield {
    @extend .grid__item;
    width: 100%;
    @media (--sm) {
      width: 50%;
    }
  }
  .gfield input[type=text],
  .gfield select {
    border: 1px solid var(--c-black);
    border-radius: 0;
  }
  .gravity-form__button {
    max-width: 150px;
  }
}

.gform_wrapper {
  .gform_fields {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .gfield {
    list-style: none;
    padding: 0;
    &:before {
      content: none;
    }
  }
  .gfield {
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea {
      width: 100%;
      border: 1px solid var(--c-black);
      border-radius: 0;
    }
  }
  /* Complex module */
  .gfield_label.gfield_label_before_complex {
    display: none;
  }
  .ginput_complex {
    @extend .grid;
    margin-bottom: -30px;
    @media (--sm) {
      margin-bottom: -35px;
    }
    > span {
      @extend .grid__item;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 30px;
      @media (--sm) {
        margin-bottom: 35px;
      }
      @media (--sm) {
        width: 50%;
      }
      > label {
        @extend .p;
        display: inline-block;
        margin-bottom: 4px;
        order: -1;
        &:empty {
          display: none;
        }
      }
    }
  }
  /* Error field */
  .gfield_error {
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea {
      border-color: var(--c-red);
    }
    .validation_message {
      @extend .p-small;
      margin-top: 6px;
      color: var(--c-red);
    }
  }

  .validation_error,
  .gf_progressbar_wrapper {
    margin-bottom: 15px;
  }

  .gf_progressbar {
    display: none;
  }
}

/* Date Picker */
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

.ui-datepicker-header {
  background-color: var(--c-black);
  color: var(--c-white);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  min-height: 30px;
}

.ui-datepicker-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-align: center;
}

.ui-datepicker-title select {
  -webkit-appearance: none;
  padding: 2px 5px;
  background: var(--c-white);
  border-radius: 0;
  margin: 0 3px;
  border: 0;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  font-family: 'crn';
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  &:before {
    content: "\e905";
  }
  .ui-icon {
    display: none;
  }
}

.ui-datepicker-prev {
  float: left;
  transform: rotate(90deg);
}

.ui-datepicker-next {
  float: right;
  transform: rotate(-90deg);
}

.ui-datepicker thead {
  background: var(--c-grey);
  border-bottom: 1px solid var(--c-border);
}

.ui-datepicker th {
  @extend .p-small;
  text-align: center;
  padding: 5px 0;
  color: var(--c-black);
}

.ui-datepicker tbody td {
  padding: 0;
  border-top: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid var(--c-border);
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: var(--c-black);
}

.ui-datepicker-calendar .ui-state-default {
  background: var(--c-grey);
}

.ui-datepicker-calendar .ui-state-hover {
  background: var(--c-border);
}

.ui-datepicker-calendar .ui-state-active {
  background: var(--c-dark-gray);
  color: var(--c-white);
  position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
  background: var(--c-light-grey);
  color: var(--c-black);
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

td.ui-datepicker-unselectable.ui-state-disabled {
  background-color: var(--c-light-grey);
}

table.ui-datepicker-calendar {
  margin: 0 0 0 0;
}

body div#ui-datepicker-div[style] {
  z-index: 9999;
}
