.schedule-program__inner {
  display: block;
  padding-top: 30px;
  margin-bottom: 40px;
  border-top: 1px solid $c-border
;
  @include rwd('small-tablet', true)
 {
    padding-top: 30px;
    margin-bottom: 24px;
  }
  @include rwd('tablet', true)
 {
    padding-top: 55px;
    margin-bottom: 60px;
  }
  @include rwd('laptop', true)
 {
    padding-top: 55px;
  }
  @include rwd('large-laptop', true)
 {
    padding-top: 85px;
    margin-bottom: 105px;
  }
}

.schedule-program__tabs-body {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    width: calc(100% + 2*21px);
    height: 100%;
    background: $c-grey
;
  }
  @include rwd('small-tablet', true)
 {
    &:after {
      left: 0;
      width: 100%;
    }
  }
}

.schedule-program__footer {
  position: relative;
  padding-top: 20px;
  color: $c-grey4
;
  z-index: 1;
  @include rwd('large-laptop', true)
 {
    padding-top: 40px;
  }
}
