.hero-basic {
  text-align: center;
  > .container {
    padding: 40px 0;

    @media (--m) {
      padding: 60px 0;
    }
  }
}

.hero-basic__subtitle {
  color: var(--c-blue);
  margin-bottom: 10px;

  @media (--sm) {
    margin-bottom: 18px;
  }

  @media (--m) {
    margin-bottom: 11px;
  }

  @media (--l) {
    margin-bottom: 24px;
  }
}

.hero-basic__title {
  margin-bottom: 9px;

  @media (--sm) {
    margin-bottom: 15px;
  }

  @media (--m) {
    margin-bottom: 13px;
  }

  @media (--l) {
    margin-bottom: 29px;
  }
}

.hero-basic__description {
  color: var(--c-dark-gray1);
  a {
    color: var(--c-blue);
    &:hover {
      border-bottom: 1px solid var(--c-blue);
    }
  }
}

.hero-basic__image {
  @include pseudo-ratio(1/1);
  width: 140px;
  margin: 15px auto 0;
  border-radius: 50%;
  overflow: hidden;
  @media (--sm) {
    width: 188px;
    margin-top: 20px;
  }
  @media (--m) {
    width: 235px;
    margin-top: 35px;
  }
  @media (--ml) {
    margin-top: 30px;
  }
  @media (--l) {
    margin-top: 40px;
  }
}
