.people-item {
  width: 100%;
  @media( --sm ) {
    width: 50%;
  }
  @media( --m ) {
    width: 25%;
  }
  .page-side-navigation__block--right & {
    @media (--m-2) {
      width: percentage(1/3);
      max-width: calc((100% + $sidenav-width
 + $sidenav-gutter
) / 4);
    }
    @include rwd('large-laptop', true)
 {
      max-width: calc((100% + $sidenav-width
 + $sidenav-gutter-xl
) / 4);
    }
  }
}

.people-item__inner {
  display: flex;
  width: 100%;
  margin: 0 auto 20px;
  @media( --m ) {
    width: 145px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  @media( --ml ) {
    width: 186px;
  }
  @media( --xl ) {
    width: 210px;
    margin-top: 40px;
  }
}

.people-item__avatar {
  width: 83px;
  margin-right: 20px;
  @media( --m ) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6px;
  }
  @media( --ml ) {
    margin-bottom: 13px;
  }
  @media( --xl ) {
    margin-bottom: 11px;
  }
}

.people-item__image {
  display: block;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  &:before {
    content: '';
    padding-top: 100%;
    display: block;
  }
}

.people-item__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 0;
  @media( --m ) {
    align-items: center;
    flex: 0 0 auto;
  }
}

.people-item__content-inner {
  width: 100%;
}

.people-item__name {
  @media( --m ) {
    text-align: center;
  }
}

.people-item__position,
.people-item__description {
  margin-bottom: 2px;
  color: $c-dark-gray
;
  p {
    &:first-child {
      margin-top: 0;
    }
    color: $c-dark-gray
;
  }
  @media( --m ) {
    text-align: center;
  }
}

.people-item__link {
  @media( --m ) {
    display: block;
    text-align: center;
    transform: translateX(10px);
  }
}

.people-item--big {
  width: 100%;
  @media( --m ) {
    width: 50%;
  }

  .people-item__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 5px solid $c-sunglow
;
    width: 100%;
    background: $c-white
;
    padding: 20px;
    @include rwd('tablet', true)
 {
      padding: 30px;
    }
  }

  .people-item__avatar {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto 15px;
    @include rwd('tablet', true)
 {
      max-width: 120px;
    }
    @include rwd('large-laptop', true)
 {
      max-width: 150px;
    }
  }

  .people-item__content {
    width: 100%;
    flex: 1 0 auto;
    @include rwd('small-tablet', true)
 {
      padding-left: 30px;
      width: calc(100% - 100px);
    }
    @include rwd('tablet', true)
 {
      width: calc(100% - 120px);
    }
    @include rwd('large-laptop', true)
 {
      width: calc(100% - 150px);
    }
  }

  .people-item__name {
    @extend .sub-title;
  }

  .people-item__name,
  .people-item__position {
    text-align: center;
    @include rwd('small-tablet', true)
 {
      text-align: left;
    }
  }
}
