.event-filter-item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.event-filter-item--research {
  min-height: 345px;

  @include rwd('tablet', true)
 {
    width: 50%;
    min-height: 395px;
  }

  @include rwd('laptop', true)
 {
    width: calc(100% / 4);
  }

  .event-filter-item__content-wrapper {
    flex: 1 1 auto;
    width: 100%;
    z-index: 2;

    @include rwd('laptop', true)
 {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        height: 20px;
        background: $c-white
;
        transform: translate3d(0, -50%, 0) rotate(4deg);
      }
    }
  }

  .event-filter-item__image-wrapper {
    padding: 20px 20px 11px;

    @include rwd('laptop', true)
 {
      padding: 0;
    }
  }

  .event-filter-item__image {
    max-width: 100%;
  }

  .research-events-list__articles & .event-filter-item__image-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .event-filter-item__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 4px;
    overflow: hidden;

    &:before {
      top: 0;
    }
  }

  .event-filter-item__content-bottom {
    margin-top: 30px;
  }

  .event-filter-item__meta-tags {
    pointer-events: none;
  }
}

.event-filter-item__inner {
  position: relative;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);

  @include rwd('small-tablet', true)
 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 4px;
    background: $c-sunglow
;
  }
}

.event-filter-item__image-wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  z-index: 1;

  @include rwd('tablet', true)
 {
    width: 44.5%;
  }

  @include rwd('large-laptop', true)
 {
    width: 39.5%;
  }
}

.event-filter-item__image {
  background-position: center;
  background-repeat: no-repeat;
  background-color: $c-white
;
  @include pseudo-ratio(158/251);

  @include rwd('small-tablet', true)
 {
    @include pseudo-ratio(170/270);

    max-width: 270px;
  }
}

.event-filter-item__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 15px 20px;

  @include rwd('small-tablet', true)
 {
    width: 57%;
    padding-top: 20px;
  }

  @include rwd('tablet', true)
 {
    width: 54.5%;
  }
}

.event-filter-item__content-head {
  flex: 1 0 auto;
}

.event-filter-item__where {
  margin-bottom: 11px;

  p {
    @extend .event-where;
  }
}

.event-filter-item__title {
  padding-bottom: 11px;
}

.event-filter-item__content-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 31px;
  position: relative;

  @include rwd('small-tablet', true)
 {
    padding-top: 0;
  }
}

.event-filter-item__meta-icon {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0;
  top: 2px;

  svg {
    height: 20px;
    width: 18px;

    path {
      fill: $c-blue2
;
    }
  }
}

.event-filter-item__meta-tags {
  @extend .company-list-item-meta;

  text-decoration: underline;


}

.event-filter-item__date-label {
  position: absolute;
  top: 31px;
  left: 31px;
  height: 51px;
  z-index: 2;
  color: $c-dark-blue
;
  background: $c-white
;

  span {
    display: block;
    margin: 5px 6px;
    text-align: center;

    @include rwd('tablet', true)
 {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

  .event-filter-item__day {
    border-bottom: 1px solid $c-dark-blue
;
  }

  .event-filter-item--research & {
    @include rwd('tablet', true)
 {
      top: 11px;
      left: 11px;
    }
  }
}

.research-events-list__articles {
  .event-filter-item__image-wrapper {
    @include rwd('tablet', true)
 {
      max-width: 310px;
    }
  }
}

.research-events-list__load-more-button {
  padding-top: 5px;
  padding-bottom: 6px;

  @include rwd('tablet', true)
 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.research-events-list__load-more {
  .research-events-list & {
    text-align: center;
  }
}

.event-filter-item__meta-tags-trigger {
  cursor: pointer;
}
