.jip-blue {
  color: var(--c-jip-blue);
}

.jip-pink {
  color: var(--c-jip-pink);
}

.bg-jip-green {
  background-color: var(--c-green);
}

.bg-jip-blue {
  background-color: var(--c-dark-blue);
}

.bg-jip-white {
  background-color: var(--c-white);
}

.jip-block-quote {
  padding-left: 19.5px;
  border-left: 1px solid var(--c-green);
}
