.jip-blue {
  color: $c-jip-blue
;
}

.jip-pink {
  color: $c-jip-pink
;
}

.bg-jip-green {
  background-color: $c-green
;
}

.bg-jip-blue {
  background-color: $c-dark-blue
;
}

.bg-jip-white {
  background-color: $c-white
;
}

.jip-block-quote {
  padding-left: 19.5px;
  border-left: 1px solid $c-green
;
}
