* {
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;

  &.overflow-hidden {
    overflow: hidden;

    body {
      overflow: hidden;

      &.is-touch {
        height: 100%;
        position: fixed;
      }
    }
  }

  &.slideout-activate {
    @media (--max-nav) {
      overflow: hidden;

      body {
        overflow: hidden;

        &.is-touch {
          height: 100%;
          position: fixed;
        }
      }
    }
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

body.home .wrapper {
  background: $c-black
;
}

.wrapper {
  position: relative;
  flex: 1 0 auto;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  > *:first-child:not(main),
  > main:first-child > *:first-child {
    padding-top: $header-height
;

    @media (--mobile-nav) {
      padding-top: $header-height-l
;
    }
  }
}

.section-gutter-bottom {
  margin-bottom: 25px;
  @include rwd('tablet', true)
 {
    margin-bottom: 30px;
  }
  @include rwd('laptop', true)
 {
    margin-bottom: 35px;
  }
  @include rwd('large-laptop', true)
 {
    margin-bottom: 40px;
  }
  @include rwd('ultra')
 {
    margin-bottom: 45px;
  }
}

.section-gutter {
  padding: 25px 0;
  @include rwd('tablet', true)
 {
    padding: 30px 0;
  }
  @include rwd('laptop', true)
 {
    padding: 35px 0;
  }
  @include rwd('large-laptop', true)
 {
    padding: 40px 0;
  }
  @include rwd('ultra')
 {
    padding: 45px 0;
  }
}

.section-gutter-outer {
  margin-top: 25px;
  margin-bottom: 25px;
  @include rwd('tablet', true)
 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include rwd('laptop', true)
 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  @include rwd('large-laptop', true)
 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @include rwd('ultra')
 {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.section-title-gutter {
  margin-bottom: 25px;
  @include rwd('laptop', true)
 {
    margin-bottom: 30px;
  }
  @include rwd('large-laptop', true)
 {
    margin-bottom: 40px;
  }
  @include rwd('ultra')
 {
    margin-bottom: 50px;
  }
}

.section-subtitle-gutter {
  margin-bottom: 20px;
  @include rwd('tablet', true)
 {
    margin-bottom: 15px;
  }
  @include rwd('laptop', true)
 {
    margin-bottom: 20px;
  }
  @include rwd('ultra')
 {
    margin-bottom: 25px;
  }
}

.section-bg {
  position: relative;
  background: $c-light-grey
;
  padding-top: 50px;
  padding-bottom: 60px;
  @include rwd('small-tablet')
 {
    padding-top: 65px;
  }
  @include rwd('tablet', true)
 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include rwd('laptop', true)
 {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  @include rwd('large-laptop', true)
 {
    padding-top: 115px;
    padding-bottom: 115px;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background: $c-white
;
    transform: rotate3d(0,0,1,2deg);
    @include rwd('small-tablet')
 {
      height: 40px;
      transform: rotate3d(0,0,1,2deg);
    }
    @include rwd('laptop', true)
 {
      transform: rotate3d(0,0,1,1.4deg);
    }
    @include rwd('large-laptop', true)
 {
      height: 50px;
      transform: rotate3d(0,0,1,1.3deg);
    }
  }
  &:before {
    top: -9px;
    @include rwd('small-tablet')
 {
      top: -18px;
    }
    @include rwd('laptop', true)
 {
      top: -25px;
    }
  }
  &:after {
    bottom: -9px;
    @include rwd('small-tablet')
 {
      bottom: -18px;
    }
    @include rwd('laptop', true)
 {
      bottom: -25px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-($gutter-xs
/2));
  @include rwd('small-tablet', true)
 {
    margin: 0 calc(-($gutter-sm
/2));
  }
  @include rwd('tablet', true)
 {
    margin: 0 calc(-($gutter-m
/2));
  }
  @include rwd('laptop', true)
 {
    margin: 0 calc(-($gutter-ml
/2));
  }
  @include rwd('large-laptop', true)
 {
    margin: 0 calc(-($gutter-l
/2));
  }
  @include rwd('ultra')
 {
    margin: 0 calc(-($gutter-xl
/2));
  }
}

.grid__item {
  padding: 0 calc($gutter-xs
/2);
  @include rwd('small-tablet', true)
 {
    padding: 0 calc($gutter-sm
/2);
  }
  @include rwd('tablet', true)
 {
    padding: 0 calc($gutter-m
/2);
  }
  @include rwd('laptop', true)
 {
    padding: 0 calc($gutter-ml
/2);
  }
  @include rwd('large-laptop', true)
 {
    padding: 0 calc($gutter-l
/2);
  }
  @include rwd('ultra')
 {
    padding: 0 calc($gutter-xl
/2);
  }
}

.single-page,
.single-companies {
  #main_content {
    padding-bottom: 65px;
    @include rwd('tablet', true)
 {
      padding-bottom: 70px;
    }
    @include rwd('laptop', true)
 {
      padding-bottom: 75px;
    }
    @include rwd('large-laptop', true)
 {
      padding-bottom: 80px;
    }
    @include rwd('ultra')
 {
      padding-bottom: 85px;
    }
  }
}

.page-template-page-curriculum-v2 #main_content {
  padding-bottom: 50px;

  @include rwd('tablet', true)
 {
    padding-bottom: 65px;
  }
  @include rwd('large-laptop', true)
 {
    padding-bottom: 90px;
  }
  @include rwd('ultra')
 {
    padding-bottom: 50px;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

#main_content {
  position: relative;
  z-index: 10;
}

.section-gutter-media {
  margin-bottom: 36px;

  @include rwd('tablet', true)
 {
    margin-bottom: 30px;
  }

  @include rwd('large-laptop', true)
 {
    margin-bottom: 65px;
  }
}

.page-template-page-jip-flexible {
  #main_content {
    z-index: 0;
    padding-bottom: 0;
  }
}
