.card-fifth {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  @include rwd('small-tablet', true)
 {
    margin-bottom: 30px;
  }
  @include rwd('laptop', true)
 {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.card-fifth__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 20px 25px;
  transition: background 0.3s ease, padding 0.3s ease;
  @include rwd('tablet', true)
 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include rwd('laptop', true)
 {
    padding-bottom: 35px;
  }
  @include rwd('large-laptop', true)
 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: $c-sunglow
;
    transition: background .3s ease;
    @include rwd('tablet', true)
 {
      height: 6px;
    }
  }
  &:hover {
    background: $c-grey
;
    &:before {
      background: #323a47;
    }
  }
}

.section-bg {
  .card-fifth__inner {
    &:hover {
      background: $c-white
;
    }
  }
}
.card-fifth__title {
  margin-bottom: 5px;
  @include rwd('large-laptop', true)
 {
    margin-bottom: 10px;
  }
}

.card-fifth__description {
  p {
    @extend .p;
  }
}

.card-fifth__footer {
  margin-top: 20px;
  @include rwd('small-tablet', true)
 {
    margin-top: 15px;
  }
  @include rwd('tablet', true)
 {
    margin-top: 10px;
  }
  @include rwd('laptop', true)
 {
    margin-top: 20px;
  }

  .button-link {
    color: $c-dark-red
;
  }
}

.card-fifth__cta-link {
  padding-left: 0;
}
