.nav-trigger {
  position: relative;
  width: 23px;
  height: 16px;
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 8px;
}

.nav-trigger--activate {
  .nav-trigger__bar {
    background-color: $c-dark-red
;

    &:first-child {
      transform: rotate(45deg) translate(8px, 8px);
    }

    &:nth-child(2) {
      @extend .fade-out;
    }

    &:last-child {
      transform: rotate(-45deg) translate(3px, -3px);
    }
  }
  &.nav-trigger--header .nav-trigger__bar {
    &:first-child,
    &:last-child {
      top: calc(50% - 1px);
    }

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.nav-trigger__bar {
  transition: transform 300ms ease, background 150ms ease;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  display: inline-block;
  background: $c-black
;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: calc(50% - 1px);
  }

  &:nth-child(3) {
    top: auto;
    bottom: 0;
  }
}

.nav-trigger--header {
  width: 18px;
  height: 14px;

  @media (--mobile-nav) {
    display: none;
  }

  .nav-trigger__bar {
    height: 2px;
    width: 100%;
    background-color: $c-dark-red
;
  }
}
