.jip-about__wrap {
  padding-top: 50px;
  background-color: $c-dark-blue
;

  @include rwd('tablet', true)
 {
    padding-top: 60px;
  }

  @include rwd('ultra')
 {
    padding-top: 81px;
  }
}

.jip-about__content {
  color: $c-white
;
  margin-top: 21px;

  @include rwd('ultra')
 {
    margin-top: 31px;
  }

  p {
   margin-bottom: 20px;
  }
}

.jip-about__image {
  margin-top: 31px;

  @include rwd('tablet', true)
 {
    margin-top: 40px;
  }

  @include rwd('ultra')
 {
    margin-top: 70px;
  }
}

.jip-about__image--desktop {
  .jip-about__image-item {
    @include pseudo-ratio(336/664);
  }

  display: none;

  @include rwd('tablet', true)
 {
    display: block;
  }
}

.jip-about__image--mobile {
  .jip-about__image-item {
    @include pseudo-ratio(318/289);
  }

  @include rwd('tablet', true)
 {
    display: none;
  }
}
