.jip-header-section {
  text-align: center;
}

.jip-header-section__headline {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;

  & + .jip-header-section__description {
    margin-top: 6px;

    @media (--m) {
      margin-top: 10px;
    }

    @media (--l) {
      margin-top: 0;
    }
  }

  .jip-our-programs--about & {
    max-width: 585px;
    padding-top: 40px;
    margin-bottom: 0;

    @media (--m) {
      max-width: 100%;
      padding-top: 69px;
    }

    @media (--xl) {
      padding-top: 89px;
    }
  }
}

.jip-header-section__description {
  max-width: 438px;
  margin-left: auto;
  margin-right: auto;
  color: var(--c-white);

  @media (--m) {
    max-width: 438px;
  }

  @media (--l) {
    max-width: 558px;
  }

  .jip-our-programs--about & {
    margin-top: 20px;

    @media (--ml) {
      max-width: 742px;
    }
  }
}

.jip-header-section--our-people {
  margin-bottom: 27px;

  @media (--ml) {
    margin-bottom: 82px;
  }

  .jip-header-section__headline {
    @media (--m) {
      margin-bottom: 5px;
    }

    @media (--l) {
      margin-bottom: 4px;
    }
  }

  .header-section__description {
    @media (--m) {
      margin-top: 5px;
    }
  }
}

.jip-our-ideas__header {
  .jip-header-section__headline {
    @media (--m) {
      margin-bottom: 11px;
    }

    @media (--l) {
      margin-bottom: 3px;
    }
  }
}
