.company-list {
  margin-top: 20px;

  @include rwd('tablet', true)
 {
    margin-top: 45px;
  }
}
.company-list__load-more {
  margin-top: 20px;
  text-align: center;

  @include rwd('tablet', true)
 {
    margin-top: 50px;
  }
}
.company-list__load-more-button {
  border: none;
  color: $c-blue
;
  background-color: transparent;
  .icon-arrow-down {
    font-weight: 700;
  }
}
.company-list__empty {
  text-align: center;
}

.startup-module--page-events {
  .company-list {
    overflow: initial;
  }

  .company-list__grid {
    display: block;
  }
}
