.course-list__wrapper {
  @extend .container;

  @media (--s-max) {
    padding: 0;
  }
}

.course-list {
  margin-bottom: 30px;
  @media (--m) {
    margin-bottom: 45px;
  }
  @media (--ml) {
    margin-bottom: 50px;
  }
  @media (--l) {
    margin-bottom: 80px;

    &.course-list--curriculum {
      margin-bottom: 60px;
    }
  }
}

.course-list__title {
  @media (--s-max) {
    padding-left: 20px;

    .course-list--curriculum & {
      padding-left: 0;
    }
  }
}

.course-list__course-description {
  a {
    color: var(--c-blue2);
    border-bottom: 1px solid var(--c-blue2);

    &:hover {
      color: var(--c-black);
      border-bottom: 1px solid var(--c-blue2);
    }
  }
}

.course-list__header {
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;

  @media (--m) {
    max-width: 483px;
    margin: 0 auto 30px;
    padding: 0;
  }
  @media (--ml) {
    max-width: 555px;
    margin-bottom: 40px;
  }
  @media (--l) {
    max-width: 675px;
    margin-bottom: 60px;
  }
}

.course-list--curriculum .course-list__title + * {
  margin-top: 10px;

  @media (--m) {
    margin-top: 15px;
  }
  @media (--xl) {
    margin-top: 20px;
  }
}

.course-list__course {
  margin-bottom: 20px;
  padding: 0 20px;

  @media (--m) {
    max-width: 483px;
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
  }
  @media (--ml) {
    max-width: 555px;
  }
  @media (--l) {
    max-width: 675px;
    margin-bottom: 30px;
  }
}

.course-list__course-name {
  + * {
    margin-top: 10px;
  }
}

.course-list__anchor {
  display: block;
  /**
  Transform to set offset from header
   */
  transform: translateY(-40px);

  @media (--sm) {
    transform: translateY(-50px);
  }
  @media (--m) {
    transform: translateY(-60px);
  }
}
